* {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
}

body {
  background-color: #675dda;
  background-image: url(/static/images/bg.png);
  background-size: cover;
}

.theme-trans {
  color: #ffffffa8;
}
